body{
	margin:0;
	background:#111;
	color:#fff;
	font-family:verdana;
}
h1{
	text-align: center;
}
canvas{
	margin:auto;
	display:block;
	width:100%;
	padding:30px 0 60px;
}

#mensaje.info{ color:#7ff; }
#mensaje.alert{ color:#f55; }

.header{
	position: relative;
}
.header>h1{
	margin:0px;
	padding:10px;
}
.header #lang{
	position: absolute;
	font-size:12px;
	margin: 10px;
	top:0;right:0;
}

.container{
	text-align:center;
	position: relative;
	margin:auto;
}
.container:before,
.container:after{
	content:" ";
	visibility:hidden;
	display:block;
	height:0;
	clear:both;
}

.container>input{
	color:#111;
	background:#111;
	border: none;
}

.content .header{
	position:absolute;
	width:100%;
	top:0;
}
.content>div{
	position: relative;
	display:inline-block;
	margin:0 5px;
}
#game{
	position: relative;
}
#help{
	text-align:left;
}
.content>.right{
	position: relative;
	float: right;
}
.header>.left{
	float:left;
}
.header>.right{
	float:right;
}
.footer{
	position:absolute;
	width:100%;
	color: #fff;
	font-size: 12px;
	bottom:0;
}
.footer>div{
	text-align:left;
}
.footer>div#mensaje{
	text-align:center;
	position:absolute;
	width:100%;
	bottom:0;
	padding:24px 0;
	margin:0;
}
.footer ul{
	padding:0;
	text-align:left;
	width:32px;
	margin:8px;
}
.footer ul>li{
	display:block;
}
.footer ul#snake{
	float: left;
}
.footer ul#food{
	float: right;
}
